
.header {
    grid-area: header;
    background-color: cornflowerblue;
    border-radius: 3px;
}

.header img {
width: 30px;
cursor: pointer;
}


.loginBlock {
    float: right;
    color: wheat;
}

.loginBlock a {
    color: wheat
}