.nav {
grid-area: nav;
background-color: cornflowerblue;
border-radius: 3px;
padding: 10px;
}

.item a{
    color: white;
    text-decoration: none;
}

.item .active{
    color: gold;
}

.nav a:hover {
font-size: calc(100% + 5%);
}