.app-wrapper {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-areas: "header header" "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 2px;
}

.header {
  grid-area: header;
  background-color: cornflowerblue;
  border-radius: 3px;
}

.header img {
  width: 30px;
  cursor: pointer;
}

.header img:hover {
  width: 31px;
  background-color: aqua;
}

.nav {
  grid-area: nav;
  background-color: cornflowerblue;
  border-radius: 3px;
}

/* .nav:hover {
  font-size: calc(100% + 5%);
} */

.content {
  grid-area: content;
  border-radius: 3px;
}
